<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title></title>

<script type="text/javascript"
  src="/site_media/js/lib/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" charset="utf-8">
  jQuery.noConflict();
</script>
<script type="text/javascript"
  src="/site_media/js/lib/jquery/jquery-ui/jquery-ui-1.6rc2.js"></script>
<script type="text/javascript"
  src="/site_media/js/lib/fleegix_js/fleegix.js.uncompressed.js"></script>

<script type="text/javascript"
  src="/site_media/js/nasfulia/app.js"></script>
<script type="text/javascript"
  src="/site_media/js/nasfulia/user.js"></script>
<script type="text/javascript"
  src="/site_media/js/nasfulia/account.js"></script>

<script type="text/javascript">
  nasfulia.home = new function () {
    var _this = this;
    this.init = function (p) {
      var params = p || {};
      nasfulia.user.setUpAccounts(p.accounts);
      nasfulia.account.init();
      if (nasfulia.user.accounts.count == 0) {
        nasfulia.account.showDialog();
      }
    };
  };
  nasfulia.app.initParams.accounts = {{ accounts|safe }};
  nasfulia.app.pageInit = nasfulia.home.init;
  fleegix.event.listen(window, 'onload',
    nasfulia.app, 'init');
</script>

<link rel="stylesheet" href="/site_media/css/global.css"
  type="text/css" media="screen">
<link rel="stylesheet" href="/site_media/css/jquery-ui-themeroller.css"
  type="text/css" media="screen">

<style type="text/css">
  #createFormFields {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    display: none;
    overflow: hidden;
  }
  #accountDialog {
    display: none;
    padding: 0;
    margin: 0;
  }
  #accountDialog .padding {
    padding: 1em;
  }
  /* Clear floats inside this container */
  #accountDialog .headerForm {
    overflow: hidden
  }
  #accountDialog .noResults {
    margin-top: 1em;
    color: #999;
    text-align: center;
  }
</style>

</head>
  <body>
    <div id="header">
      <div id="mainNav">
        <a id="accountsDialogLink">
          Accounts
        </a>
      </div>
    </div>
    <!--  Accounts dialog start -->
    <div id="accountDialog" title="Accounts">
      <div class="padding">
        <div class="headerForm">
          <form id="createForm" method="post">
            <div class="floatRight">
              <input type="button" id="newAccountButton"
                name="newAccountButton" value="New Account"/>
            </div>
            <div id="createFormFields">
              <div>
                Service
              </div>
              <div>
                <select id="service_id" name="service_id">
                  <option value="">
                    (Select an online service)
                  </option>
                  <option value="http://twitter.com/">
                    Twitter
                  </option>
                  <option value="http://identi.ca/">
                    Identica
                  </option>
                  <option value="http://friendfeed.com/">
                    FriendFeed
                  </option>
                </select>
              </div>
              <div>
                Username
              </div>
              <div>
                <input type="text" id="username"
                  name="username" value=""/>
              </div>
              <div>
                Password
              </div>
              <div>
                <input type="password" id="password"
                  name="password" value=""/>
              </div>
              <div class="floatLeft">
                <input type="button" id="cancel" name="cancel"
                  value="Cancel"/>
              </div>
              <div class="floatRight">
                <input type="button" id="save" name="save"
                  value="Save"/>
              </div>
            </div>
          </form>
        </div>
        <div class="results">
          <div class="noResults">
            (You currently have no accounts set up.)
          </div>
        </div>
      </div>
    </div>
    <!--  Accounts dialog end -->
  </body>
</html>
