/* Begin global stuff */
/*****************************/
a {
  cursor: pointer;
}
a:hover {
  border-style: solid;
}
a img {
  border: 0;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearBoth {
  clear: both;
}
/* End global stuff */

/* Begin base layout */
/*****************************/
#content {
  width: 68em;
  margin: auto;
  overflow: hidden;
}
#leftCol {
  width: 14em;
  float: left;
  margin-right: 2em;
}
#centerCol {
  width: 36em;
  float: left;
}
#rightCol {
  width: 14em;
  clear: right;
  float: left;
  margin-left: 2em;
}
/* Begin base layout */

/* Begin account / tracking dialog  styles */
/*****************************/
#accountFields {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  display: none;
  overflow: hidden;
}
#accountDialog {
  display: none;
  padding: 0;
  margin: 0;
}
#accountDialog .padding {
  padding: 1em;
}
#accountDialog .headerForm {
  overflow: hidden /* Clear floats */
}
#accountDialog .noResults {
  margin-top: 1em;
  color: #999;
  text-align: center;
}
/* End account / tracking dialog  styles */

