/* Begin global stuff */
/*****************************/
* {
  font-family: "Lucida Grande", "Verdana", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(/site_media/themes/default/images/nasfulia_page_bg.png);
  background-repeat: repeat-x;
  background-color: #7dc78a;
  background-attachment: fixed;
}
#container {
  background-image: url(/site_media/themes/default/images/nasfulia_content_bottom_bg.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
table {
  border-collapse: collapse;
}
td {
  vertical-align: top;
}
p {
  margin-top: 0px;
  padding-top: 0px;
}
form {
  display: inline;
}
a {
  color: #864612;
  cursor: pointer;
  border-style: dotted;
  border-width: 0 0 1px 0;
  text-decoration: none;
}
a:hover {
  border-style: solid;
}
a img {
  border: 0;
}
a.logo {
  border: 0;
}
hr {
  border: 0px;
  height: 1px;
  background: #a7d6b8;
  color: #fff;
  font-size: 0px;
  line-height: 1px;
  margin: 2px 0 8px;
}
h3 {
  color: #ece7d6;
}
/* End global stuff */

/* Begin header styles */
/*****************************/
#header {
  position: relative;
  overflow: hidden;
  max-width: 68em;
  margin: auto;
}
#header a.logo {
  display: block;
  float: left;
  background-image: url(/site_media/themes/default/images/nasfulia_logo.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 45px;
  margin: 8px 0 0 8px;
}
#header .navigation {
  float: right;
  padding-top: 8px;
  color: #dba;
}
#header .navigation a {
  color: #fff;
}
/* End header styles */

/* Begin notices list */
/*****************************/
#notices {
  background-color: #fff;
  padding: 0.8em;
  margin: auto;
  width: 34em;
  text-align: left;
}
#notices ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#notices li {
  overflow: hidden; /* Clear floats */
  font-size: 80%;
  margin: 0 0 0.8em 0;
}
#notices li img {
  /* Normal thumb sizes */
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;
}
#notices li a.thumb {
  border: 0; /* No underlines */
  display: block;
  float: left;
  width: 58px;
  height: 48px;
}
/* End notices list */

