<script type="text/javascript"
  src="/site_media/js/lib/fleegix_js/fleegix.js"></script>

<script type="text/javascript">
  function submitForm() {
    var form = $('loginForm');
    fleegix.cookie.set('username', form.id_username.value);
    form.submit();
  }
</script>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<form id="loginForm" method="post" action=".">
<table>
<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
</table>

<input type="button" onclick="submitForm();" value="Log In" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

